/*
Color Palette:
background color: #1c1b1b
font color: #FFF
secondary color: #423F3E
tertiary color: #F0CD9F
*/

/* CSS syntax notes:
    selector {property: value;}
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/* 
font-family: 'Quicksand', sans-serif;
font-family: 'Rubik', sans-serif;
*/

html {
    font-size: 62.5%;    /* Default font size is 16px -  62.5% of 16 is 10px - 
                            1 rem (relative unit) now will be equivalent to 10px} */
}

header {
    margin: 0 4rem;
    letter-spacing: 0.8rem;
    text-align: center;
    border-bottom: 1px solid #826F66;
    border-right:  1px solid #826F66;
    border-left:  1px solid #826F66;
    padding: 0.5rem;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    font-size: 1.1rem;
}

body {
    background-color: #212020;
    color: #FFF;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

cite {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
}

.imageCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 7rem 4rem;
}

.imageCard img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imageCard a {
    text-decoration none;
    color: #F0CD9F;
}

.cardText {
    color: #FFF;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    margin-top: 2rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, .19);
    border: 2px solid rgba(255, 255, 255, .1);
}

@media (min-width: 768px) {
    header {
        font-size: 1.6rem;
    }
    
    .gallery {
        display: flex;
        flex-direction: rows;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .imageCard {
        max-width: 28%;
    }
}

/* Submit For Grading */